SUPABASE_URL=https://qrshohheacaufouigbmv.supabase.co
SUPABASE_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InFyc2hvaGhlYWNhdWZvdWlnYm12Iiwicm9sZSI6ImFub24iLCJpYXQiOjE3NjMzNzIzOTYsImV4cCI6MjA3ODk0ODM5Nn0.aH0cQx8EplfG7sdoUUh64ifveNLqdMp5miL4IDWO1VI
